.Slider {
  max-width: 100%;
  height: 280px;
  padding: 10px;
}

.Slider__front {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.Slider__container {
  height: 100%;
  width:6475px;
  display: flex;
}


.Slider__conatainer_transform-transitonX_0 {
  transform: translateX(0px);
  /* transition: ease 0.1s; */
}

.Slider__conatainer_transform-transitonX_-1310 {
  /* transform: translateX(-1310px); */
  transform: translateX(-98vw);
  transition: ease 0.3s;
}

.Slider__conatainer_transform-transitonX_-2620 {
  /* transform: translateX(-2620px); */
  transform: translateX(-196vw);
  transition: ease 0.3s;
}

.Slider__conatainer_transform-transitonX_-3930 {
  transform: translateX(-294vw);
  /* transform: translateX(-3930px); */
  transition: ease 0.3s;
}

.Slider__imageContainer {
  max-width: 1680px;
  width:98vw;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.Slider__image {
  max-width:1310px;
  width:1310px;
  height: 100%;
}

/* .Slider__buttons {
  position: absolute; 
  top: 50%;
  width: 98.5%;
} */

.Slider__button {
  position: absolute;
  top: calc(50% - 52px);
  height: 104px;
  width: 47px;
  
}

.Slider__button > button {
  width: 100%;
  height: 100%;
  border:none;
  background-color: #fff;
  color: black;
  font-weight: bolder;

}

.Slider__button > button > svg {
  width: 36px;
  height: 40px;
}

.Slider__button-left {
  left: 0;
}

.Slider__button-left > button {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  
}

.Slider__button-right {
  right: 0;
}

.Slider__button-right > button {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  
}
.Slider__button-right > button {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  
}